div.toolbar-container.sc-ion-toolbar-md.sc-ion-toolbar-md-s{
    background: #666;
}

.toolbar-background {
    background-color: blue !important;
  }
  
ion-title.header-view{
    text-align: center;
    font-size: smaller;
    color: #666;
} 
.partial-results-list{
    width: 100%;
    ion-row{
        ion-col{
            h2.discipline-header{
                text-align: center;
                color: #666;
                font-size: smaller;
            }
        }
        ion-col.college-flag{
            display: flex;
            justify-content: center;
        }
    }
}

ion-row{
    ion-col{
        p.score{
            margin: 0;
            text-align: center;
        }
    }
    ion-col.badge-life{
        display: flex;
        justify-content: center
    }
    ion-col.col-centered{
        display: flex;
        justify-content: center;
    }
    ion-col.col-left{
        display: flex;
        justify-content: left;
    }
    ion-col.col-right{
        display: flex;
        justify-content: right;
    }
}
.team-photo{
    height: 100px;
    width: auto;
}

ion-col{
    ion-gird.scores-container.sc-ion-grid-h.sc-ion-grid-s.hydrated{
        padding-top: 23%;
        background: red;
    }
}
